ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_FORWARDEDHEADERS_ENABLED=true
Database__MigrateOnStartup=true

Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=

Authentication__Google__ClientId=
Authentication__Google__ClientSecret=
Authentication__Facebook__ClientId=
Authentication__Facebook__ClientSecret=

Seed__Admin__Email=
Seed__Admin__Password=
